body.home {
  --color-background: #3a3a3b;
  --color-foreground: #e2c7a7;
  --color-accent: #e74d5a;

  --color-card-foreground: #d1a674;
  --color-card-background: #f6efdc;
  --color-card-accent: var(--color-accent);

  --size-vcard-width: 695px;

  // --color-background: white;
  // --color-foreground: #111;

  // @media (prefers-color-scheme: dark) {
  //   --color-background: rgb(43, 43, 43);
  //   --color-foreground: white;
  // }

  background-color: var(--color-background);
  color: var(--color-foreground);

  // ❤️ https://www.joshwcomeau.com/shadow-palette/
  --shadow-color: 193deg 57% 2%;
  --shadow-elevation-low: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
    0px 0.9px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    -0.1px 2.2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
    0px 1.8px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    -0.1px 4.4px 5px -1.7px hsl(var(--shadow-color) / 0.36),
    -0.3px 10.8px 12.2px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
    -0.1px 3.1px 3.5px -0.4px hsl(var(--shadow-color) / 0.34),
    -0.1px 5.9px 6.6px -0.7px hsl(var(--shadow-color) / 0.34),
    -0.2px 9.6px 10.8px -1.1px hsl(var(--shadow-color) / 0.34),
    -0.4px 15.4px 17.3px -1.4px hsl(var(--shadow-color) / 0.34),
    -0.6px 24.1px 27.1px -1.8px hsl(var(--shadow-color) / 0.34),
    -0.9px 36.6px 41.2px -2.1px hsl(var(--shadow-color) / 0.34),
    -1.3px 53.9px 60.7px -2.5px hsl(var(--shadow-color) / 0.34);
}

.home {
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;

  h1,
  h2 {
    color: inherit;
  }

  a {
    color: var(--color-accent);
  }

  .vcard {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
    background: var(--color-card-background);
    color: var(--color-card-foreground);
    box-shadow: var(--shadow-elevation-medium);
    border-radius: 20px;
    overflow: hidden;
    min-width: var(--size-vcard-width);
    border: 12px solid var(--color-card-background);

    & > div {
      margin-bottom: 1rem;
      align-self: end;
    }

    h1 {
      margin-bottom: 0.35rem;
    }

    ul {
      display: flex;
      list-style: none;
      gap: 1.5rem;
      margin: 0;
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      font-size: 0.85rem;
    }

    i[class^="icon-"] {
      &::before {
        color: var(--color-card-foreground);
        opacity: 0.6;

        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: "icomoon" !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        display: block;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &.icon-mastodon::before {
        content: "\e900";
      }
      &.icon-github::before {
        content: "\eab0";
      }
      &.icon-linkedin::before {
        content: "\eac9";
      }
    }

    a {
      font-weight: 400;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    column-gap: 3rem;
    max-width: calc(var(--size-vcard-width) - 3rem);
    margin-top: 4rem;

    h2 {
      font-weight: 400;
      font-size: 1rem;
    }

    time {
      font-size: 0.7rem;
      font-weight: 200;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      line-height: 1.1rem;
      font-size: 0.85rem;
      font-weight: 400;

      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }
    }
  }
}
