@import "base/fonts";
@import "base/normalize";

:root {
  --size-card-width: 695px;

  // Light Theme
  --color-light-background: #e6e6e6;
  --color-light-foreground: #555;
  --color-light-accent: #e74d5a;
  --color-light-card-background: #efefef;
  --color-light-card-border: #d5d5d5;

  // Dark Theme
  --color-dark-background: #3a3a3b;
  --color-dark-foreground: #e2c7a7;
  --color-dark-accent: #e74d5a;
  --color-dark-card-background: #535355;
  --color-dark-card-border: #646466;

  // Default Theme (light)
  --color-background: var(--color-light-background);
  --color-foreground: var(--color-light-foreground);
  --color-accent: var(--color-light-accent);
  --color-card-foreground: var(--color-foreground);
  --color-card-background: var(--color-light-card-background);
  --color-card-border: var(--color-light-card-border);
  --color-card-accent: var(--color-accent);

  // System preference dark theme
  @media (prefers-color-scheme: dark) {
    --color-background: var(--color-dark-background);
    --color-foreground: var(--color-dark-foreground);
    --color-accent: var(--color-dark-accent);
    --color-card-background: var(--color-dark-card-background);
    --color-card-border: var(--color-dark-card-border);
  }
}

html {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

body {
  transition-property: color background-color;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-duration: 250ms;

  // Enforced Light Theme
  &.light {
    --color-background: var(--color-light-background);
    --color-foreground: var(--color-light-foreground);
    --color-accent: var(--color-light-accent);
    --color-card-foreground: var(--color-foreground);
    --color-card-background: var(--color-light-card-background);
    --color-card-border: var(--color-light-card-border);
    --color-card-accent: var(--color-accent);
  }

  // Enforced Dark Theme
  &.dark {
    --color-background: var(--color-dark-background);
    --color-foreground: var(--color-dark-foreground);
    --color-accent: var(--color-dark-accent);
    --color-card-background: var(--color-dark-card-background);
    --color-card-border: var(--color-dark-card-border);
  }

  background-color: var(--color-background);
  color: var(--color-foreground);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;

  a {
    color: var(--color-accent);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .vcard {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
    background: var(--color-card-background);
    color: var(--color-card-foreground);
    border-radius: 20px;
    overflow: hidden;
    min-width: var(--size-card-width);
    border: 12px solid var(--color-card-background);
    outline: 1px solid var(--color-card-border);

    transform-origin: center bottom;
    animation-name: appear;
    animation-timing-function: cubic-bezier(0.26, 0.53, 74, 1.48);
    animation-duration: 600ms;

    @media screen and (prefers-reduced-motion: reduce) {
      animation: none;
    }
    @keyframes appear {
      0% {
        opacity: 0.1;
        transform: translateY(-10px) scale(1.05);
        filter: blur(10px);
      }
      10% {
        opacity: 0.2;
      }
      100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0px);
      }
    }

    & > div {
      margin-bottom: 1rem;
      align-self: end;
    }

    h1 {
      font-size: 3rem;
      margin: 0;
    }

    ul {
      display: flex;
      list-style: none;
      gap: 1.5rem;
      margin: 0;
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      font-size: 0.85rem;
    }

    svg {
      height: 1rem;
      fill: var(--color-card-foreground);
    }

    a {
      font-weight: 500;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    column-gap: 3rem;
    max-width: calc(var(--size-card-width) - 3rem);
    margin-top: 4rem;

    h2 {
      font-weight: 400;
      font-size: 1rem;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
    }

    time {
      font-size: 0.7rem;
      font-weight: 200;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      line-height: 1.1rem;
      font-size: 0.85rem;
      font-weight: 400;

      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }
    }
  }

  button {
    position: fixed;
    top: 1rem;
    right: 1rem;
    appearance: none;
    border: none;
    background: none;
    outline: none;

    svg {
      height: 1.5rem;
      fill: var(--color-foreground);
      opacity: 0.2;
      transition: opacity 400ms;

      &:hover {
        opacity: 1;
      }
    }
  }
}
