body {
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Tahoma, sans-serif;
}

.centered {
  max-width: 768px;
  padding: 0 40px;
  margin: 0 auto;
}

.main {
  padding-top: 50px;
  padding-bottom: 40px;
}

.additional {
  padding-bottom: 50px;
}

.shaded {
  background: #F2F2F2;
  color: #727272;
  padding-top: 50px;
  padding-bottom: 40px;
}

header {
  background: black;
  color: white;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2vw));
  padding-top: 80px;
  padding-bottom: 60px;
}

header img {
  width: 96px;
}

li {
  margin-bottom: 0.8em;
}

footer {
  font-size: small;
  text-align: center;
}
