<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>TalkBeamer</title>
    <meta
      name="description"
      content="Use TalkBeamer to present the slides you created using the LaTeX Beamer
    template from your iPad or iPhone."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" id="favicon">
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
    <meta name="theme-color" content="#fafafa" />
  </head>

  <body>
    <header>
      <div class="centered">
        <img class="icon" src="images/icon.png" />
        <h1>TalkBeamer</h1>
      </div>
    </header>

    <section class="centered main">
      <a
        href="https://apps.apple.com/se/app/altoo/id1361144717?mt=8"
        style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2018-11-08&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"
      ></a>

      <p>
        Use TalkBeamer to present the slides you created using the LaTeX Beamer
        template from your iPad or iPhone.
      </p>

      <ul>
        <li>
          Show slides on an external connected projector or display (wired or
          through AirPlay screen mirroring)
        </li>
        <li>Display notes for the current slide on your iPad or iPhone</li>
        <li>Navigate between slides with ease</li>
        <li>
          Keep track of your presentation time using the presentation timer
        </li>
        <li>Open a PDF from any place through the iOS sharing capability</li>
        <li>
          Present PDF slides without notes: Your iPad or iPhone will show the
          current slide
        </li>
      </ul>
    </section>

    <div class="shaded">
      <section class="centered additional">
        <h2>TalkBeamer Pro</h2>
        <p>
          TalkBeamer for lightning talks is free. This means you can do
          presentations up to 8 minutes before TalkBeamer stops displaying
          slides on the external display.
        </p>
        <p>
          If you like this app and want to use it for presentations longer than
          8 minutes, consider a one-time purchase of TalkBeamer Pro.
        </p>
      </section>

      <section class="centered additional">
        <h2>What is LaTeX? What is LaTex Beamer?</h2>
        <p>
          <a href="https://www.latex-project.org/">LaTeX</a> is a software
          package to author various documents like scientific reports, magazine
          articles or even books.
        </p>
        <p>
          In combination with the
          <a href="https://www.ctan.org/pkg/beamer">Beamer template</a>, LaTeX's
          powerful feature set can be used for the creation of slide sets for
          talks and presentations. When included, exported PDF files contain the
          actual slide as well as notes for helping the speaker.
        </p>
      </section>

      <footer class="centered">
        &copy; Copyright 2020 by Manuel Alabor.
      </footer>
    </div>
    {%- include google-analytics.html -%}
  </body>
</html>
