<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>TalkBeamer: Privacy Policy</title>
    <meta
      name="description"
      content="TalkBeamer: App and Website Privacy Policy"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" id="favicon">
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
    <meta name="theme-color" content="#fafafa" />
  </head>

  <body>
    <section class="centered main">
      <h1>TalkBeamer</h1>
      <h2>Privacy Policy</h2>
      <p>TalkBeamer is owned, developed and maintained by Manuel Alabor.</p>

      <h3>Website</h3>
      <p>
        The TalkBeamer website, currently accessible at
        <a href="https://alabor.me/talkbeamer">alabor.me/talkbeamer</a>,
        uses Google Analytics to collect non-personally-identifying information.
        This includes information about the type of your browser, language
        preference or the date and time of your visit.
      </p>

      <h3>App</h3>
      <p>
        The TalkBeamer app does not collect and/or share any data you give it
        access to with anyone.
      </p>
      <p>
        The app does not use any kind of analytics functionality to track your
        usage behavior.
      </p>

      <h3>Contact</h3>
      <p>
        If you have any question or concern about this policy, please feel free
        to contact us at any time at
        <a href="mailto:talkbeamer@alabor.me">talkbeamer@alabor.me</a>.
      </p>

      <p><em>Last updated January 22, 2020</em></p>
    </section>

    <footer class="centered">
      &copy; Copyright 2020 by Manuel Alabor.
    </footer>

    {%- include google-analytics.html -%}
  </body>
</html>
