doctype xml
urlset(xmlns="http://www.google.com/schemas/sitemap/0.84",
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance",
	xsi:schemaLocation="http://www.google.com/schemas/sitemap/0.84 http://www.google.com/schemas/sitemap/0.84/sitemap.xsd")
	- var articles = env.helpers.getArticles(contents);
	for article in articles
		- var permalink = locals.url + article.url
		url
			loc= permalink
			lastmod= moment.utc(article.date).format('YYYY-MM-DD')
			changefreq weekly
			priority 1.00