.article {
	h1 {
		text-align: center;
		margin-bottom: 1.5em;
	}

	&.violet {
		background-color: $violet;
		color: $lighttextcolor;
		text-shadow: 0 0 3px darken($violet, 20%);

		a {
			color: $lightlinkcolor;
		}

		p code, li code {
			background-color: darken($violet, 10%);
		}
	}

	&.orange {
		background-color: $orange;
		text-shadow: 0 0 1px darken($orange, 20%);

		p code, li code {
			background-color: darken($orange, 30%);
		}
	}

	&.blue {
		background-color: $blue;
		color: $lighttextcolor;
		text-shadow: 0 0 3px darken($blue, 20%);

		a {
			color: $lightlinkcolor;
		}

		p code, li code {
			background-color: darken($blue, 15%);
		}
	}
}