$compressed: true;

@import "fontawesome/font-awesome";
@import "_colors";
@import "_responsive";
@import "_reset";
@import "_code";
@import "_articlestyles";

body {
	font-family: 'Lora', serif;
	font-size: 21px;
	line-height: 1.52;
	background-color: $backgroundcolor;
	text-rendering: optimizeLegibility;
	color: $textcolor;

	@media (min-width: 1600px) {
		font-size: 26px;
	}

	@media (max-width: $tablet-width) {
		font-size: 18px;
	}

	@media (max-width: $phone-width) {
		font-size: 17px;
	}
}

a {
	color: $linkcolor;

	&:hover {
		color: lighten($linkcolor, 10%);
		text-decoration: underline;
	}
}

.content-wrap {
	width: 34em;
	margin: 0 auto;
	position: relative;

	@media (max-width: $phone-width) {
		width: auto;
		padding: 0 1em;
	}
}

p {
	margin-bottom: 1.52em;
	&.more {
		margin-bottom: 0;
	}
}

pre {
  font-size: 0.9em;
  overflow: auto;
  background: #fff;
  border: 1px dashed #d2d2d2;
  border-radius: 0.25em;
  margin-bottom: 1.8em;
  padding: 1em;
}

h1 {
	font-size: 2em;
	margin-bottom: 1em;
}

h2 {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.43;
  margin-bottom: 1.35em;
}

h3 {
  font-style: italic;
  text-align: center;
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 1.8em;
  margin-bottom: 0.8em;
}

ol, ul {
  margin: 0 1.4em 1.4em 4em;

  @media (max-width: $phone-width) {
  	margin-left: 1.4em;
  }
}

li {
  margin-bottom: 0.5em;
}

blockquote {
  margin: 1.2em 3em;
  padding-left: 1em;
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px dashed #d2d2d2;
  height: 0;
  margin: 1.6em 0;
}


.header {
	background-color: $headerbackgroundcolor;
	color: $lighttextcolor;
	height: 5.6em;

	a {
		color: $lighttextcolor;
		text-decoration: none;
	}

	h1 {
		position: absolute;
		left: 0;
		top: 0.3em;
		font-size: 2.6em;
		font-weight: 700;
		text-shadow: 0 0 3px darken($headerbackgroundcolor, 20%);
	}

	input {
		position: absolute;
		right: 0;
		top: 2.5em;
		border: none;
		width: 18em;
		padding: 0.3em 0.5em;
		background: lighten($headerbackgroundcolor, 5%);
		color: $lighttextcolor;
		font-size: 0.9em;
		border-radius: 0;
	}

	::selection {
		background: lighten($gray, 30%);
	}
	::-moz-selection {
		background: lighten($gray, 30%);
	}

	&.large {
		@media (max-width: $phone-width) {
			text-align: center;
			height: 8em;
			padding: 1.5em 0 0 0;

			h1 {
				position: static;
				margin: 0 0 0.2em 0;
			}

			input {
				position: static;
				text-align: left;
			}
		}		
	}

	&.small {
		position: fixed;
		width: 100%;
		height: 2.4em;
		z-index: 9999;

		h1 {
			font-size: 1.5em;
			font-weight: 700;
			top: 0;
		}

		input {
			top: 0.9em;
			font-size: 0.7em;
		}

		@media (max-width: $phone-width) {
			position: static;

			h1 {
				left: 0.4em;
			}

			input {
				right: 0.8em;
				width: 12em;
			}
		}
	}

}


.article-detail {
	.article {
		padding-top: 2.4em + 1.5em;

		@media (max-width: $phone-width) {
			padding-top: 1.5em;
		}
	}
}


.article {
	padding: 2em 0;

	h1 {
		text-align: center;
		margin-bottom: 1.5em;
	}

	header {
		.picto {
			text-align: center;
			font-size: 4.0em;
			margin: 0;
		}
		h2 {
		  font-style: italic;
		  text-align: center;
		  margin-bottom: 0.8em;
		  font-size: 1.4em;

		  a { text-decoration: none; }
		}

		.date {
			text-align: center;
			font-size: 0.8em;
			margin-bottom: 0.5em;
		}
	}


	&.intro {
		.content p {
			display: inline;
		}

		.more {
			text-decoration: underline;
			font-weight: 700;
			padding-left: 0.3em;
		}
	}

	.content {
		img {
			display: block;
			width: 100%;
		}

		.twitter-tweet {
			// Because twitter has element styles on the iFrame, we need important :()
			margin: 0 auto !important;
		}

		.jsfiddle {
			-webkit-overflow-scrolling: touch;

			width: 100%;
			height: 400px;
			overflow: scroll;

			iframe {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.more, .date {
	font-family: 'Merriweather', serif;
	font-variant: small-caps;
	text-transform: lowercase;
	font-weight: 400;
	text-rendering: auto;
	letter-spacing: 1px;
}

.error-404 {
	background-color: $gray;
	text-align: center;		
}


.comments {
	padding: 30px 0;
}