---
layout: page
---

<main class="home" itemscope itemtype="http://schema.org/Person">
  <header class="vcard">
    <img
      itemprop="image"
      src="/assets/portrait.jpg"
      alt="Portrait of Manuel Alabor"
    />
    <div>
      <h1>
        <span itemprop="givenName">Manuel</span>
        <span itemprop="familyName">Alabor</span>
      </h1>
      <nav>
        <ul>
          <li>
            <i class="icon-mastodon"></i>
            <a
              href="https://fosstodon.org/@manuelalabor"
              target="_blank"
              title="Find me on Mastodon"
              rel="me"
            >
              Mastodon
            </a>
          </li>
          <li>
            <i class="icon-github"></i>
            <a
              href="https://github.com/swissmanu"
              target="_blank"
              title="Find me on GitHub"
              rel="me"
            >
              GitHub
            </a>
          </li>
          <li>
            <i class="icon-linkedin"></i>
            <a
              href="https://www.linkedin.com/in/manuelalabor"
              target="_blank"
              title="Find me on LinkedIn"
              rel="me"
            >
              LinkedIn
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="content">
    {%- if site.posts.size > 0 -%}
    <section class="essays">
      <header>
        <h2>Essays</h2>
      </header>
      <nav>
        <ul>
          {%- for post in site.posts -%}
          <li>
            <a href="{{ post.url | relative_url}}">{{ post.title }}</a><br />
            <time datetime="{{ post.date }}"
              >{{ post.date | date: "%d.%m.%Y" }}</time
            >
          </li>
          {%- endfor -%}
        </ul>
      </nav>
    </section>
    {%- endif -%}
    <section class="apps">
      <header>
        <h2>Apps</h2>
      </header>
      <ul>
        <li><a href="talkbeamer">TalkBeamer</a></li>
      </ul>
    </section>
  </section>
</main>
<script>
  const hasLocalStorage = (() => {
    if (typeof window.localStorage !== "undefined") {
      try {
        window.localStorage.setItem("test", "yes");
        if (window.localStorage.getItem("test") === "yes") {
          window.localStorage.removeItem("test");
          return true;
        }
        return false;
      } catch {
        return false;
      }
      return true;
    }
  })();
  const hasMatchMedia = typeof window.matchMedia === "function";

  if (hasLocalStorage && hasMatchMedia) {
    const LOCAL_STORAGE_KEY = "selectedColorScheme";

    function getSelectedColorScheme() {
      return window.localStorage.getItem(LOCAL_STORAGE_KEY);
    }

    function setSelectedColorScheme(scheme) {
      window.localStorage.setItem(LOCAL_STORAGE_KEY, scheme);
      return scheme;
    }

    function toggleScheme(prev) {
      switch (prev) {
        case "light":
          return "dark";
        case "dark":
        default:
          return "light";
      }
    }

    function enforceColorScheme(scheme) {
      const body = document.querySelector("body");
      if (body) {
        body.classList.remove(toggleScheme(scheme));
        body.classList.add(scheme);
      }
    }

    function createColorSchemeToggleButton(
      selectedColorScheme,
      systemPreferredColorScheme
    ) {
      const button = document.createElement("button");
      button.textContent = selectedColorScheme ?? systemPreferredColorScheme;
      button.addEventListener("click", () => {
        const nextScheme = setSelectedColorScheme(
          toggleScheme(getSelectedColorScheme() ?? systemPreferredColorScheme)
        );
        button.textContent = nextScheme;
        enforceColorScheme(nextScheme);
      });

      // Sync button state with changed system preference, if no explicit scheme was selected yet:
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          const preferredColorScheme = event.matches ? "dark" : "light";
          if (!getSelectedColorScheme()) {
            button.textContent = preferredColorScheme;
          }
        });
      return button;
    }

    const systemPreferredColorScheme = window.matchMedia(
      "(prefers-color-scheme: dark)"
    ).matches
      ? "dark"
      : "light";
    const selectedColorScheme = getSelectedColorScheme();
    if (selectedColorScheme) {
      enforceColorScheme(selectedColorScheme);
    }

    const home = document.querySelector("main.home");
    if (home) {
      home.appendChild(
        createColorSchemeToggleButton(
          selectedColorScheme,
          systemPreferredColorScheme
        )
      );
    }
  }
</script>
